*{
    box-sizing: border-box;
}
body{
    margin: 0;
    text-align: center;
}
#container{
    width: 1024px;
    height: 100%;
    margin: auto;
}
#header{
    border: 4px solid black;
    height: 15dvh;
}
#menu{
    border: 4px solid red;
    float: left;
    width: 20%;
    height: 70dvh;
}
#content{
    border: 4px solid blue;
    width: 100%;
    height: 70dvh;
    
}
#footer{
    border: 4px solid green;
    height: 15dvh;
}